html {
    scroll-behavior: smooth;
}

#intro {
    background-color: #282C34;
    color: #ABB2BF;
    min-height: 100vh;
}

.valign-wrapper {
    height: 100vh;
}

.inner {
    width: 20vw;
    min-width: 250px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

#title {
    margin-bottom: 50px;
}

input {
    color: #ABB2BF;
}

#custom-url-button {
    margin-top: 20px;
    cursor: pointer;
}

#shorten-button {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin-top: 30px;
    background-color: #56B6C2;
}

#footer {
    bottom: 0;
    transform: translateY(-60px);
}

#download {
    min-height: 100vh;
}

.memo {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin-bottom: 80px;
}

.platform {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.5em;
}

#about {
    background-color: #ABB2BF;
    color: #282C34;
    min-height: 100vh;
}

p {
    font-size: 1.2em;
}